@page "/user/role"

@attribute [Authorize]
@if (Roles == null || Roles.Count == 0)
{
    <span>Loading Roles...</span>
}
else
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Roles</h4>
            <h6 class="card-subtitle"></h6>
            <div class="header m-2">
                <div class="row font-weight-bold">
                    <div class="col">Name</div>

                    <div class="col">Action</div>
                </div>
                
            </div>
            <hr class="m-0 p-0" />
            @foreach (var role in Roles)
            {
                @if (role.Editing)
                {
                    <EditForm Model="editingRole" OnSubmit="UpdateRole">
                        <div class="row p-2">
                            <div class="col">
                                <InputText @bind-Value="role.Name" class="form-control"></InputText>
                                @if (!String.IsNullOrEmpty(message))
                                {
                                    <span class="text-danger">@message</span>
                                }
                                
                               
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">
                                    <i class="oi oi-cloud-upload"></i>
                                </button>
                                <button class="btn btn-primary" @onclick="CancelEditing">
                                    <i class="oi oi-circle-x"></i>
                                </button>
                                
                            </div>
                        </div>
                    </EditForm>
                }
                else
                {
                    <div class="row p-2">
                        <div class="col pl-2">
                            @role.Name
                        </div>

                        <div class="col">
                            <button class="btn btn-primary" @onclick="(() => EditRole(role))">
                                <i class="oi oi-pencil"></i>
                            </button>
                            <a class="btn btn-info" href="/user/role/permission/@role.Id">
                                    Edit Role Permission
                                </a>

                        </div>
                    </div>
                }
                <hr class="m-0 p-0" />
            }
        </div>
    </div>

    <button class="btn btn-primary" @onclick="CreateNewRole">
        <i class="oi oi-plus"></i> Add new Role
    </button>
}

@**@
@*<div class="table-responsive">
    <table class="table table-striped no-wrap border table-striped mb-0">
        <thead>
            <tr>
                <th>Name</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Roles)
            {
                @if (role.Editing)
                {
                    <EditForm Model="editingRole" OnSubmit="UpdateRole">
                        <tr id="tr-id-2" class="tr-class-2">
                            <td id="td-id-2" class="td-class-2"> <InputText @bind-Value="role.Name" class="form-control"></InputText> </td>

                            <td>
                                <button type="submit" class="btn btn-primary">
                                    <i class="oi oi-cloud-upload"></i>
                                </button>
                                <button class="btn btn-primary" @onclick="CancelEditing">
                                    <i class="oi oi-circle-x"></i>
                                </button>
                            </td>
                        </tr>
                    </EditForm>
                }
                else
                {
                    <tr id="tr-id-2" class="tr-class-2">
                        <td id="td-id-2" class="td-class-2"> @role.Name</td>

                        <td>
                            <button class="btn btn-primary" @onclick="(() => EditRole(role))">
                                <i class="oi oi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>*@

