@page "/employees"

@attribute [Authorize]

<h3>SetData</h3>
@if (Employees == null || Employees.Count == 0)
{
    <span>Loading Employees...</span>
}
else
{
    <div>
        <ul>
            @foreach (var item in Employees)
            {
                <li>
                    <span>
                        @item.Name
                    </span>
                </li>
            }
        </ul>
    </div>
}

