@inherits LayoutComponentBase

<div class="login-register" style="background-color:aliceblue;">
    <div class="login-box card">
        <div class="card-body">
            @Body
        </div>
    </div>
</div>
