@page "/testingTableManagement"
@inject IJSRuntime JS


<div id="mydiv" style="" @onmouseover='(() => Call("mydiv"))'>
        <div id="mydivheader">Table 1</div>
        <p>This is Table1</p>
        <p>Hello Customer</p>
    </div>
<div id="mydiv1" class="draggable" @onmouseover='(() => Call("mydiv1"))'>
    <div id="mydivheader">Table 2</div>
    <p>This is Table1</p>
    <p>Hello Customer</p>
</div>

@*<div id="mydiv" class="draggable" @onclick="(args)=>Call(args)">
        <div id="mydivheader">Table 2</div>
        <p>This is Table2</p>
        <p>Hello Customer2</p>
    </div>*@

