@page "/testingTableManagement"
@inject IJSRuntime JS

<p>Tables</p>
<button id="save">Save</button>
<button id="delete-shape" >Delete From Canvas</button>
<div id="drag-items">
    <img src="/monster-admin/assets/images/big/img1.jpg" draggable="true" />
    <img src="/monster-admin/assets/images/big/img2.jpg" draggable="true" />
</div>
<div id="container"></div>