@page "/testingTableManagement"
@inject IJSRuntime JS


    <div id="mydiv" class="draggable drag1" @onclick="Call" style="margin-right:400px !important;width:150px">
        <div id="mydivheader">Table 1</div>
        <p>This is Table1</p>
        <p>Hello Customer</p>
    </div>

    <div id="mydiv" class="draggable">
        <div id="mydivheader">Table 2</div>
        <p>This is Table2</p>
        <p>Hello Customer2</p>
    </div>

