
/*Developer Custom Css

*/

hr:not([size]) {
    height: 0 !important;
}

/*.table > :not(caption) > * > * {
    padding: 0 !important;
}*/
.table td, .table th {
    padding-top:5px  !important;
    padding-bottom:5px  !important;
}
.table td button{
    font-size:10px;
    /*padding:10px;*/
}
